<!-- main parallax -->
<main>
	<!--section id="intro">
		<!-- Header -->
		<!--div class="intro-header">

			<div class="container header-container">

				<div class="row">
					<div class="intro-image col-md-4"></div>
					<div class="intro-message col-md-6">
						<h1>{{ .Site.Title }}</h1>
						<h3>{{ .Site.Params.description }}</h3>
						<hr class="intro-divider">
					</div>
				</div>

			</div-->
			<!-- /.container -->

		<!--/div-->
		<!-- /.intro-header -->
	<!--/section-->

	<!-- parallax -->
	<section id="slide-1" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
	    	<div class="hsContainer">
	    		<div class="hsContent" data-center="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-1 h2">
		    		<h2>Fade out elements before<br />they leave viewport</h2>
		    		<p>This slide moves background image at a slower speed then the page scroll. Text is fading out to opacity 0 at 106 pixels from the top.</p>
	    		</div>
	    	</div>
		</div>
	</section>
	<section id="slide-2" class="homeSlide">
		<div class="bcg" data-0="background-color:rgb(1,27,59);" data--25p-bottom="background-color:rgb(1,27,59);" data--90p-bottom="background-color:(0,0,0);"  data-anchor-target="#slide-2">
		<!-- <div class="bcg" data-0="background-color:rgb(1,27,59);" data-top="background-color:(0,0,0);"  data-anchor-target="#slide-2"> -->
	    	<div class="hsContainer">
	    		<div class="hsContent">
		    		<h2 data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-2 h2">Fade me in and out</h2>
		    		<p data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-2 h2">Text is fading in at 206 pixels from the bottom and fading out 106 pixels from the top. <br />Next slide fades in from black.</p>
	    		</div>
	    	</div>
		</div>
	</section>
	<!-- /.parallax -->
</main>
<!-- /.main parallax -->


